.classic-movie-title {
  color: white;
  margin: 0 0 0.75rem 0;
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 600;
  min-height: 3.2rem;
  
  /* Método simples e compatível */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}